
@import url('file:///Users/opmorgan/.cache/wal/colors.css');
@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/*
    Author: Twily
    Description: Minimal flat styled tabs for Australis
    Compitability: Firefox Nightly v31.0a1 - v32.0a1 (Australis)
       CSS Variables were introduced to Firefox in v29.0a1
    Website: http://twily.info/
    License: CC BY-NC-SA
    Note: To enable the urlbar; search this css for:
       "make the url-bar visible" and "adjust margin-top to"
*/



:root {
    /* TAB VARIABLES */
    --bg-light: var(--background); --bg-dark: var(--background);
    --fg-light: var(--color7); --fg-dark: var(--foreground);
    --tab-triangle-correction: 0px;
    --tab-height: 32px; --tab-icon-size: 12px; --tab-strip-margin: 0; --tab-overlap: -5px;
    --tab-fonts: "SF Mono",monospace; --tab-font-size: 11pt;
    --tab-text-align: center; /* left | center | right */
    --tab-triangle: block; /* block | none */

    /* URL VARIABLES */
    --url-background: var(--bg-dark); --url-color: var(--fg-light);
    --url-height: 35px; --url-right-margin: 10px;
    --url-fonts: "Terminus (TTF)",monospace; --url-font-size: 9pt;
    --url-text-align: center; /* left | center | right */
    --url-position: fixed; /* absolute == top (under tabs) || fixed == bottom of browser */

    margin-bottom: 0 /*var(--url-height)*/ !important;
}

@-moz-document url(chrome://browser/content/browser.xul) {
    /* URL-BAR */
    #back-button, #forward-button, #back-button *, #forward-button *, #identity-box, #urlbar-reload-button, #urlbar-stop-button, #urlbar-go-button,
    #PanelUI-button, #bookmarks-menu-button, #downloads-button, #home-button, #stylish-toolbar-button, #abp-toolbarbutton,
    #notification-popup-box, #new-tab-button, #private-browsing-indicator, #search-container, #nav-bar-overflow-button,
    .tabs-newtab-button, .tab-close-button, .tab-close, .tab-throbber, .tab-background-start, .tab-background-end,
    #window-controls /*, #alltabs-button, #tabview-button, .tab-icon-image */, .tab-icon-image:not([pinned]) { display: none !important; }

    #titlebar-content {
       margin-top: 0 !important;
       background-color: var(--bg-dark) !important;
    }

    .tab-drop-indicator { margin-bottom: 0 !important; }

    #PopupAutoCompleteRichResult {
        display: none;
    }

    #nav-bar {
        position: var(--url-position) !important; bottom: 0 !important;
        width: 100% !important; height: var(--url-height) !important;
        min-height: var(--url-height) !important; max-height: var(--url-height) !important;
        margin: 30px 0 0 0 !important;
	background: transparent !important;
	background-color: transparent !important;
	background-image: none !important;
	box-shadow: none !important;
	overflow: visible;
    }
       #nav-bar-customization-target { background: transparent; width: 100% !important; }
          #urlbar-wrapper {
              width: 100% !important; margin-top: -1px !important; /* --- adjust margin-top to ~ -5px if you experience gap --- */
              position: absolute !important; top: 0 !important; left: 0 !important;
              border-bottom: 0px solid var(--bg-light) !important;
          }
             #urlbar {
                 border: none !important; border-radius: 0 !important;
                 margin: 0 0 0 0 !important; padding: 0 2px 0 2px !important;
                 width: calc(100% + var(--url-right-margin)) !important;
                 height: var(--url-height) !important; min-height: var(--url-height) !important;
                 background: var(--url-background) !important; color: var(--url-color) !important;
                 font-family: var(--url-fonts) !important; font-size: var(--url-font-size) !important;
                 text-align: var(--url-text-align) !important;
		 border-top-left-radius: 4px !important;
		 border-top-right-radius: 4px !important;
		 opacity: 0.8px;
		 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), !important;
             }
             #urlbar[focused='true'] {
               outline: none !important;
               box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.6) !important;
             }
             /*#urlbar * { -moz-appearance: none !important; }*/

	#urlbar, .searchbar-textbox {
	    -moz-appearance: none;
	    background-clip: content-box;
	    box-shadow: 0 -1px 4px rgba(0,0,0,.5);
	    padding: 0;
	    margin: 3px 5px;
	    min-height: 30px;
	    cursor: default;
	    overflow: -moz-hidden-unscrollable;
	    opacity: .92;
	}

    /* TABS */
    .tabbrowser-tab[fadein]:not([pinned]) { min-width: 50px !important; max-width: /*180px*/ 100% !important; }
    tab {
        font-family: var(--tab-fonts) !important;
        height: var(--tab-height) !important; min-height: var(--tab-height) !important;
        background: var(--bg-dark) !important; color: var(--fg-dark) !important;
        font-size: var(--tab-font-size); text-shadow: none !important; text-align: var(--tab-text-align) !important;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
    }

    .tabbrowser-tab label { padding: 0 14px 0 14px !important; }

    #tabbrowser-tabs .tabbrowser-tab[pinned]            { width: 38px !important; }
    #tabbrowser-tabs .tabbrowser-tab[pinned] label      { display: none !important; }

    #tabbrowser-tabs .tabbrowser-tab .tab-icon-image {
        margin: 0 -10px 0 14px !important;
        width: var(--tab-icon-size) !important;
        height: var(--tab-icon-size) !important;
    }

    .tabbrowser-tab *, .tabs-newtab-button * {
        background: none !important; list-style-image: none !important;
        margin: 0 0 0 0 !important; padding: 0 0 0 0 !important;
        -moz-appearance: none !important;
    }

    #tabbrowser-tabs .tabbrowser-tab[pinned] .tab-stack { height: var(--tab-height) !important; width: 100% !important; }
    #tabbrowser-tabs .tabbrowser-arrowscrollbox .box-inherit.scrollbox-innerbox { max-height: var(--tab-height) !important; }
    .scrollbutton-up, .scrollbutton-down { border: none !important; }

    .tabbrowser-tab[selected="true"] .tab-stack {
        background: rgba(255, 255, 255, 0.1) !important; color: var(--fg-light) !important;
        border-radius: 0px !important; position: relative !important;
        /*border-top: 1px solid #dc52a5 !important;/**/
    }

    #TabsToolbar, #tabbrowser-tabs {
        -moz-appearance: none !important;
        height: var(--tab-height) !important; min-height: var(--tab-height)!important;
        margin: 0 var(--tab-strip-margin) !important;
        background: var(--bg-dark) !important;

        /* --- Uncomment the line below to attach the url-bar to the tab-bar [EXPERIMENTAL] (Require a line in "#nav-bar" above) --- */
        /*margin-left: 150px !important;/**/
    }
    #TabsToolbar::after { display: none !important; }
    .tabbrowser-tab::before, .tabbrowser-tab::after { background: rgba(255, 255, 255, 0.2) !important; opacity: 1 !important; visibility: visible !important; border: none !important;}

    /*browser, #navigator-toolbox { -moz-appearance: none !important; background: transparent !important; }*/

    #navigator-toolbox::after { height: 0px !important; background: var(--bg-light) !important; }
    #liberator-separator { height: 0px !important; background: var(--bg-light) !important; border-top: 0 !important; }

    /* MENUS */
    menuitem + menuseparator, menu + menuseparator/*, .menu-iconic-left*/ { display: none !important; }
    /*menuitem > label { margin-left: var(--tab-height) !important; }*/
    menubar, menubutton, menulist, menu, menuitem {
        font-family: var(--tab-fonts) !important; font-size: var(--tab-font-size);
        height: var(--tab-height) !important;
    }

    /* HIDE ORANGE MENU BUTTON */
    #appmenu-toolbar-button, #appmenu-button-container { display: none !important; }

    /* HIDE STATUS BAR */
    #status-bar, #statusbar-display, statuspanel { display: none !important; }

    /* PRIVATE BROWSING ICON HIDE */
    #main-window[privatebrowsingmode=temporary] #private-browsing-indicator,
    #main-window[privatebrowsingmode=temporary] #private-browsing-indicator-titlebar { display: none !important; }

    /* Vimperator icon style */
    #liberator-statusline:not([customizing="true"]) { background: var(--bg-light); margin: -2px -2px !important; padding: 0 0 !important; height: 24px !important; }
    #liberator-statusline:not([customizing="true"]) :-moz-any(toolbarbutton) { height: 100% !important; }
    #tabview-button {
        list-style-image: url(http://twily.info/img/tabview-button.png?v=2) /* 16x16 px image */ !important;
        -moz-image-region: rect(0, 0, 0, 0) !important;
    }

    #liberator-completions { background: var(--bg-dark) !important; }

    /* Tabgroup margin top fix */
    #tab-view-deck #tab-view { margin: 24px 12px 12px 12px !important; }
    #tab-view-deck { background: var(--bg-light) !important; }

    window[sizemode="fullscreen"] #liberator-statusline { display: none !important; }
    window[sizemode="fullscreen"] #liberator-bottombar  {
        margin-top: -24px !important;
        transition: 1s ease !important; transition-delay: .3s !important;
    }
    /*window[sizemode="fullscreen"] #browser-panel        { margin-top: -1px !important; }*/
}


/* Tab Group Page Style (Ctrl+Shift+E) */
@-moz-document url(chrome://browser/content/tabview.html) {
    #content #bg, #actions, body { background: var(--bg-dark) !important; }
    body * { color: var(--fg-light) !important; }

    body .groupItem, #content #actions, body .undo {
        background: var(--bg-dark) !important;
        border: 0 !important; border-radius: 0 !important; box-shadow: 0 0 0 0 !important;
    }
    #content #actions {
        opacity: 0 !important; display: none !important; /* block | none */
        transition: .3s ease-out !important;
    }
    #content #actions:hover { opacity: 1 !important; }

    body .appTabTrayContainer { border: 0 !important; }
    body .tab, body .tab .thumb {
        box-shadow: 0 0 0 0 !important; border: 0 !important; border-radius: 0 !important;
        background: transparent !important; padding : 0 !important;
    }
    body .tab .favicon { display: none !important; }
    body .groupItem .name { border: 0 !important; }
    body .tab .tab-title { padding-top: 2px !important; }
}


/* AGENT_SHEET */
@-moz-document url-prefix(http://), url-prefix(https://), url-prefix(chrome://liberator/), url-prefix(file:///) {
    /* SCROLLBAR */
    scrollbar[orient="vertical"], scrollbar thumb[orient="vertical"],
    scrollbar[orient="horizontal"], scrollbar thumb[orient="horizontal"] {
        display: none !important; /* none = hide || block = show */
    }

    /*
    scrollbar > slider { -moz-appearance: none !important; }

    scrollbar[orient="vertical"] { margin: -3px -7px -3px -3px !important; }
    scrollbar[orient='vertical'] > slider { background: #282333 !important; max-width: 5px !important; }
    scrollbar[orient='vertical'] > slider > thumb {
        -moz-appearance: none !important;
        background: #524C59 !important; border: 0 !important;
        width: 5px !important; max-width: 5px !important;
    }

    scrollbar[orient="horizontal"] { margin: -3px -3px -7px -3px !important; }
    scrollbar[orient='horizontal'] > slider { background: #282333 !important; max-height: 5px !important; }
    scrollbar[orient='horizontal'] > slider > thumb {
        -moz-appearance: none !important;
        background: #524C59 !important; border: 0 !important;
        height: 5px !important; max-height: 5px !important;
    }

    scrollbar > scrollbarbutton { -moz-appearance: none !important; border: none !important; background: none !important; }
    scrollbar[orient='vertical'] > scrollbarbutton { min-height: 0 !important; }
    scrollbar[orient='horizontal'] > scrollbarbutton { min-width: 0 !important; }
    /**/
}


/* background color around/behind pictures opened in firefox (require html namespace on top) */
@-moz-document regexp("(https?://|file:///)(.*)\\.(jpeg|jpg|gif|png|apng|svg|bmp|webm|webp)") {
    body { background: var(--bg-light) !important; }
    img.decoded { background-color: transparent !important; }
}


/* About:Blank background */
@-moz-document url(about:blank) {
    html,body { background: var(--bg-dark) !important; }
}

/* about:stylish-edit toolbar style */
@-moz-document regexp("about:stylish-edit.*") {
    #main-area, textbox { background: var(--bg-light) !important; }
    textbox, grid, columns, rows, separator { border: 0 !important; }

    .devtools-toolbarbutton { background: var(--bg-dark) !important; color: var(--fg-light) !important; }
}

/*----- Fix for white flash on new tab -----*/
tabbrowser tabpanels, #appcontent > #content { background: var(--bg-light) !important; }


/* Set dark text in light textareas */
/*
@-moz-document regexp("https?://(?!(localhost|twily.info|.*.4chan.org|.*.youtube.com)).*") {
    input, textarea { color: #222628 !important; -moz-appearance: none !important; }
}
/**/

/*--- Custom ---*/
#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox, #tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] {
    min-height: none;
}
:root[uidensity=compact] #navigator-toolbox {
}

:root:not([uidensity]) #navigator-toolbox {
}

:root[uidensity=touch] #navigator-toolbox {
}

#navigator-toolbox {
  --trigger-area-height: 5px;
}

:root[chromehidden~="toolbar"] #navigator-toolbox {
}

#toolbar-menubar {
  margin-top: 0px !important; /* This is usually 0, but under Win7 can be given an extra 1px when not maximized */
}

/* Undo add of 4px extra margin on top of the tabs toolbar on Windows 7. */
/* Note: @media -moz-os-version does not work in userChrome.css (https://bugzilla.mozilla.org/show_bug.cgi?id=1418963) */
:root[sizemode="normal"][chromehidden~="menubar"] #TabsToolbar,
:root[sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] + #TabsToolbar {
  padding-top: var(--space-above-tabbar) !important;
}

#nav-bar, #PersonalToolbar {
	/* Otherwise spacers will not count as hover-able areas */
    -moz-window-dragging: default;
}

:root:not([customizing]) #nav-bar
{
  overflow-y: hidden;
  padding-top:0 !important;
  padding-bottom:0 !important;
  opacity: 0;
  transition: opacity 0.25s ease-in !important;
}

:root:not([customizing]) :hover > #nav-bar,
:root:not([customizing]) #nav-bar:focus-within {
  opacity: 1;
  transition: opacity 0.25s ease-in !important;
}

:root:not([customizing]) #navigator-toolbox {
}

:root:not([customizing]) #navigator-toolbox:hover,
:root:not([customizing]) #navigator-toolbox:focus-within {
}

/* If the bookmarks bar is turned on, auto-hide that too */
:root:not([customizing]) #PersonalToolbar {
  opacity: 0;
  transition: opacity 0.25s ease-in !important;
}

:root:not([customizing]) :hover > #PersonalToolbar,
:root:not([customizing]) #navigator-toolbox:focus-within #PersonalToolbar {
}
