// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@indigo: #767686;
@light-gray: #969896;
//@gray: #373b41;
@gray: #9c978e;
//@dark-gray: #282a2e;
@gutter-beige: lighten(#e0d9cc, 10%);
//@very-dark-gray: #1d1f21;
@bg-gray: #242520;
@white: #e0d9cc;

@highlight-purple: rgba(248,28,229,0.3);
@cursor-purple: rgba(248,28,229,0.8);

//@cyan: #8abeb7;
@cyan: #A39C90;
//@blue: #81a2be;
@blue: #B5A995;
//@purple: #b294bb;
@purple: #C5B59C;
//@green: #b5bd68;
@green: #9c978e;
//@red: #cc6666;
@red: #CABBA5;
//@orange: #de935f;
@orange: #D5C5A5;
//@light-orange: #f0c674;
@light-orange: #9c978e;
