@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @indigo;
@syntax-cursor-color: @indigo;
@syntax-selection-color: @highlight-purple;
@syntax-background-color: @bg-gray;

// Guide colors
@syntax-wrap-guide-color: lighten(@bg-gray, 6%);
@syntax-indent-guide-color: lighten(@bg-gray, 6%);
@syntax-invisible-character-color: lighten(@bg-gray, 6%);

// For find and replace markers
@syntax-result-marker-color: @light-gray;
@syntax-result-marker-color-selected: @white;

// Gutter colors
@syntax-gutter-text-color: @indigo;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-gutter-background-color: @bg-gray;
@syntax-gutter-background-color-selected: @white;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;
